<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-4" style="height: 100vh; margin-top: 100px">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h3 style="text-align: center">Log In</h3>
        <br />
        <div class="mb-3">
          <label for="email" class="form-label">Email </label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Enter youe email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Enter your password"
          />
        </div>
        <div class="float-end">
          <button type="submit" class="btn btn-success">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
